.contact{
  overflow: hidden;
  margin-right: -16px;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../../public/media/contact-background.webp) no-repeat center top/cover;
    filter: grayscale(50%);
  }
  .contactContent {
    background: $background-color;
    border-radius: $border-radius;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22% 55% 23%;
    grid-template-areas:
  "1"
  "2"
  "3";
    .bottom-transversal{
      background: $background-color;
      width: 160%;
      height: 583px;
      position: relative;
      transform: rotate(-9.15deg);
      margin-top: -271px;
      margin-left: -50px;
    }
    .contactBox {
      grid-area: 2;
      background: $card-color;
      margin: 0 auto;
      padding: 1rem 3rem;
      z-index: 2;
      border-radius: $border-radius;
      box-shadow: 0 3px 10px #333;
      min-width: 440px;
      min-height: 290px;

      h1 {
        text-align: center;
        margin-top: 0.3rem;
        position: relative;
        color: $white-color;

        &:after {
          content: '';
          height: 1px;
          width: 50%;
          background: $white-color;
          position: absolute;
          bottom: -25px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      ul {
        height: 72%;
        width: inherit;
        display: grid;
        margin-top: 3.5rem;

        li {
          position: relative;
        }

        i {
          font-size: 1.4rem;
          position: absolute;
          transform: translateY(2px);
          color: $white-color;
        }
        span {
          font-size: 1.4rem;
          position: absolute;
          transform: translateX(52px);
          background: transparent;
          border: none;
          outline: none;
          width: 350px;
          transition: .2s ease;
        }
        .clickInput:hover {
          transform: translateX(56px);
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (max-width: 500px){
    .contactContent {
      .contactBox {
        min-width: 100% !important;
      }
      span {
        font-size: .9rem !important;
      }
      h4 {
        font-size: .9rem;
      }
    }
  }

}
