.knowledges{
  display: flex;
  .knowledgesContent{
    min-height: $min-height;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 38% 1fr 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: "L E E" "O O H";

    .languagesFrameworks, .experience, .otherSkills, .hobbies{
      background: $card-color;
      border-radius: $border-radius;
      padding: .8rem;
    }

    h3{
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: $white-color;
      text-transform: uppercase;
    }

    .languagesFrameworks{
      grid-area: L;
      margin-bottom: 0.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "L" "F";
      .languageDisplay{
        grid-area: L;
      }
      .frameworkDisplay{
        grid-area: F;
      }
      h3{
        margin-bottom: .3rem;
      }
      .years{
        font-size: .65rem;
        display: flex;
        justify-content: space-between;
        color: $white-color;

        span{
          width: 36%;
          &:nth-child(2){
            text-align: center;
            width: 20%;
          }
          &:nth-child(3){
            text-align: right;
            width: 44%;
          }
          &:nth-child(2):before, &:nth-child(3):before{
            content: "";
            background: rgba(180,179,179,0.5);
            position: absolute;
            height: 146px;
            width: 1px;
            transform: translate(9px, 19px);
          }

        }
      }
      .languagesList{
        padding-top: .5rem ;

        li{
          color: $white-color;
        }
        .progressBar{
          height: .4rem;
          background: transparent;
          border-radius: 50px;
          margin-top: .2rem;
          position: relative;

          &:after{
            content: '';
            position: absolute;
            background: $progress-color;
            border-radius: 50px;
            height: .4rem;
            width: 0;
            animation: line 2s ease-out forwards;
            @keyframes line {
              to{
                width: 100%;
              }
            }
          }

        }
      }

    }

    .experience {
      grid-area: E;
      margin: 0 0 .5rem .5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 1fr 1fr;
      grid-template-areas:
        "1"
        "2"
        "3";

      h3 {
        grid-area: 1;
      }
      h4 {
        font-size: 1.1rem;
        color: $white-color;
      }
      h5 {
        color: $white-color;
        padding: 0.5rem 0 0.5rem 1rem;
      }
      p {
        text-align: justify;
        padding: 0 1rem;
      }
      .exp-1 {
        grid-area: 2;
      }
      .exp-2 {
        grid-area: 3;
      }
    }
    .otherSkills {
      grid-area: O;
      margin-right: 0.5rem;

      .list {
        display: flex;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        justify-content: space-between;

        ul {
          height: 80%;
          display: grid;

          i {
            color:$white-color;
          }
        }
      }
    }

    .hobbies {
      grid-area: H;
      padding-left: 1.5rem;

      ul {
        height: 80%;
        display: grid;

        li {
          i {
            position: absolute;
            color: $white-color;
          }
          span {
            position: absolute;
            transform: translateX(2.2rem);
          }
        }
      }
    }
  }

}